@using DrinksUI.Dtos.Interfaces
@using DrinksUI.Dtos
@using DrinksUI.Web.Entities

<div class="row">
    <div class="col-sm-2">
        @MachineSlot.Id: @MachineSlot.DispensingType
    </div>
    <div class="col-sm-5">
        <select class="form-control" @bind="MachineSlot.IngredientPicker">
            @foreach (var ingredient in Ingredients.Where(ingredient => ingredient.AddieType == MachineSlot.DispensingType).Where(ingredient => ingredient != MachineSlot.Ingredient))
            {
                <option value="@ingredient.Type">@ingredient.Type</option>
            }
        </select>
    </div>
    @if (MachineSlot.DispensingType == AddieType.PushDosed)
    {
        <div class="col-sm-2">
            <input class="form-control" type="number" @bind="MachineSlot.Proof"/>
        </div>
        <div class="col-sm-1">
            %
        </div>
    }
</div>

@code {
    [Parameter]
    public MachineSlot MachineSlot { get; set; }

    [Parameter]
    public IIngredient[] Ingredients { get; set; }

    [Parameter]
    public EventCallback<MachineSlot> MachineSlotChanged { get; set; }

    [Parameter]
    public EventCallback<IIngredient[]> IngredientsChanged { get; set; }
}
