@page "/"

@using DrinksUI.Data.Services
@using DrinksUI.Dtos.Interfaces

@inject DrinkService DrinkService

<p>
    <h1>Hello, world!</h1>
    Welcome to your new app.
</p>
<ul>
    @foreach (var drink in _drinks)
    {

        <li>
            <a href="drink/@drink.Id">@drink.Name</a>
        </li>
    }
</ul>

@code {
    private IEnumerable<IDrinkShortDescription> _drinks;

    protected override async Task OnInitializedAsync()
    {
        _drinks = await DrinkService.GetShortDescriptions();
    }
}